:root {
  --linearPrimarySecondary: linear-gradient(#f9b562, #93b8d9);
  --linearPrimaryAccent: linear-gradient(#f9b562, #9a74ce);
  --linearSecondaryAccent: linear-gradient(#93b8d9, #9a74ce);
  --radialPrimarySecondary: radial-gradient(#f9b562, #93b8d9);
  --radialPrimaryAccent: radial-gradient(#f9b562, #9a74ce);
  --radialSecondaryAccent: radial-gradient(#93b8d9, #9a74ce);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #130c06;
    --background: #faf6f0;
    --primary: #f9b562;
    --secondary: #92b7d9;
    --accent: #9973ce;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f9f2ec;
    --background: #0f0b05;
    --primary: #9d5906;
    --secondary: #264b6d;
    --accent: #57318c;
  }
}
