* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo a {
  color: var(--text);
  text-decoration-color: var(--accent-300);
}

.logo img {
  width: 64px;
  height: 64px;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.book {
  background-color: var(--secondary-100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.book button {
  background-color: var(--secondary-300);
  color: var(--text);
}

.book-image {
  height: auto;
  max-width: 100px;
}

.book-name {
}
