package templates

templ Login() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Books</title>
		</head>
		<body>
			<header>
				<h1>Login</h1>
			</header>
			<main>
				<form method="POST" action="/login">
					<input type="email" name="email" required />
					<input type="password" name="password" required />

					<button type="submit">Login</button>
				</form>
			</main>
		</body>
	</html>
}
